<?xml version="1.0"?>

<launch>
	<include file="$(find minilab_simulation)/launch/minilab_simulation.launch"/>

	<!-- Node 1: plannif_node -->
	<node name="plannif_node_V2" pkg="autodrive" type="plannif_node_V2" output="screen"/>
	
	<!-- Node 2: command_node -->
	<node name="command_node" pkg="autodrive" type="command_node" output="screen"/>

	<!-- Node 3: manager_node -->
	<node name="manager_node" pkg="autodrive" type="manager_node" output="screen"/>

	<!-- Node 4: gmapping -->
	<node name="slam_node" pkg="gmapping" type="slam_gmapping" output="screen">
		<remap from="/map" to="/gmap"/>
		<param name="odom_frame" value="/odom"/>
		<param name="xmin" value="-20.0"/>
		<param name="xmax" value="5.0"/>
		<param name="ymin" value="-10.0"/>
		<param name="ymax" value="5.0"/>
	</node>

	<!-- Node 5: map -->
	<!-- <node name="map_server" pkg="map_server" type="map_server" args = "$(find autodrive)/map/map.yaml" output="screen"/> -->

	<!-- Node 6: rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find autodrive)/config/config.rviz" output="screen"/>
</launch>
